<div class="progress-bar-wrapper" [class.small]="$small()">
  <div class="progress-bar-container">
    <div class="progress-bar-wrapper">
      <div class="progress-bar" [class]="$statusColor()">
        <div class="progress-fill" [style.width.%]="$percentage()">
          <span class="current-label">{{ $currentLabel() }}</span>
        </div>
      </div>
    </div>
    @if ($withPercentage()) {
      <div class="percentage-display" [style.width.%]="$percentage()">
        {{ $percentage() | number:'1.0-0' }}%
      </div>
    }
  </div>
  @if ($targetLabel()) {
    <span class="target-label">{{ $targetLabel() }}</span>
  }
</div>