@use 'variables' as *;
@use 'structures/table';

.tabs {
  display: flex;
  gap: 0.5rem;
  flex-shrink: 0;
}

.table-container {
  flex: 1;
  overflow: auto;
  min-height: 0;
  max-height: calc(550px - 130px);
}

.work-queue-table {
  .originator-info {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }

  .client-info {
    .client-name {
      font-weight: $fw-medium;
      margin-bottom: 0.25rem;
    }

    .line-name {
      font-size: 0.875rem;
      color: $text-header;
    }
  }

  .info-button {
    @extend .icon-button;

    .info-icon {
      font-style: normal;
      font-weight: $fw-bold;
      font-size: 0.75rem;
      color: $text-header;
    }
  }
}
