<div class="card">
  <span class="card-title">Work Queue</span>

  <div class="tabs">
    <button class="btn-tab" [class.active]="$activeTab() === WorkQueueTab.Assigned" (click)="setActiveTab(WorkQueueTab.Assigned)">
      Assigned to me({{ $tasks().length }})
    </button>
    <button class="btn-tab" [class.active]="$activeTab() === WorkQueueTab.Pending" (click)="setActiveTab(WorkQueueTab.Pending)">
      Pending Review ({{ $pendingTasks().length }})
    </button>
    <button class="btn-tab" [class.active]="$activeTab() === WorkQueueTab.Referrals" (click)="setActiveTab(WorkQueueTab.Referrals)">
      Referrals ({{ $referralTasks().length }})
    </button>
  </div>
  
  <div class="table-container">
    <table class="work-queue-table">
      <thead>
        <tr>
          <th>ORIGINATOR</th>
          <th>CLIENT/LINE</th>
          <th>TYPE</th>
          <th>STATUS</th>
          <th>CREATED</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (task of $filteredTasks(); track $index) {
          <tr>
            <td class="originator-column">
              <div class="originator-info">
                <app-profile-circle [name]="task.originator" />
                <span>{{ task.originator }}</span>
              </div>
            </td>
            <td class="client-column">
              <div class="client-info">
                <div class="client-name">{{ task.client }}</div>
                <div class="line-name">{{ task.line }}</div>
              </div>
            </td>
            <td class="type-column">{{ task.type }}</td>
            <td class="status-column">
              <div class="status-badge" [ngClass]="task.status | workQueueStatusClass">
                {{ task.status | workQueueStatus }}
              </div>
            </td>
            <td class="created-column">{{ task.created }}</td>
            <!-- TODO: action -->
            <td class="actions-column">
              <button class="info-button" aria-label="More information">
                <i class="info-icon">i</i>
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>