.dashboard {
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  
  > section {
    flex: 1 1 auto;   // allow grid columns to flex within dashboard
    min-width: 0;     // enable width shrinking
    height: 100%;     // fill the 550px parent height
    min-height: 0;    // enable child overflow to work
  }

  .right-column {
    display: flex;
    flex-direction: column;
  }
  .right-column-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;

    app-quick-actions {
      flex: 1;
    }

    app-market-intelligence {
      flex: 1;
    }
  }
}