@use 'variables' as *;
@use 'structures/page';
@use 'structures/columns';
@use 'components/card';
@use 'components/table';
@use 'components/button';
@use 'components/status';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $body-bg;
  color: $text-primary;

  // font
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: $fw-normal;
  font-style: normal;
}
