@use 'variables' as *;

.card {
  border: 1px solid $border-color;
  color: $text-primary;
  border-radius: 1.5rem;
  background-color: $card-bg;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  box-sizing: border-box;

  .card-title {
    font-size: 1.5rem;
    font-weight: $fw-medium;
    flex-shrink: 0;
    display: flex;
    gap: 1rem;
  }
}
