@use 'variables' as *;

.card {
  border: 1px solid $border-color;
  color: $text-primary;
  border-radius: 1.5rem;
  background-color: $card-bg;
  padding: 1.5rem;

  .card-title {
    font-size: 1.5rem;
    font-weight: $fw-medium;
  }
}
