@use '../../../assets/styles/variables' as *;

.topbar {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $border-color;
  height: $topbar-height;
}

.title {
  font-size: 2rem;
  font-weight: $fw-medium;
  display: flex;
  align-items: center;
}
