<div class="metric-card">
  <div class="metric-label-section">
    <div class="metric-label">
      {{ $metric().label }}
      @if ($metric().label === 'Winnability') {
        <app-status-badge
          [dots]="getWinnabilityLevel()"
          [text]="''" 
          [statusClass]="getWinnabilityStatusClass()">
        </app-status-badge>
      }
    </div>
  </div>
  @if ($metric().label === 'Winnability') {
    <div class="metric-content">
      <div class="metric-value-section">
        <div class="metric-value large">{{ $metric().winnability | winnabilityStatus }}</div>
      </div>
    </div>
  }
  @if ($metric().type !== MetricType.Distribution && $metric().label !== 'Winnability') {
    <div class="metric-content">
      <div class="metric-value-section">
        <div class="metric-value">{{ getFormattedValue() }}</div>
      </div>
      <div class="metric-details">
        @if ($metric().target) {
          <div class="metric-target">vs {{ $metric().target }}</div>
        }
        @if ($metric().description) {
          <div class="metric-description">{{ $metric().description }}</div>
        }
      </div>
    </div>
  }
  @if ($metric().type === MetricType.Distribution) {
    <div class="metric-distribution">
      @for (d of $metric().distribution ?? []; track $index) {
        <div class="distribution-row">
          <div class="distribution-bar">
            <app-progress-bar
              small
              [target]="100"
              [current]="d.value"
              [targetLabel]="''"
              [statusColor]="StatusColors.Primary"
              [withPercentage]="false"
            />
          </div>
          <span class="distribution-label">{{ d.name }}: {{ d.value }}%</span>
        </div>
      }
    </div>
  }
  @if ($metric().link) {
    <a class="metric-link" href="#">{{ $metric().link }}</a>
  }
</div>
